.workout-page-container {
  background-color: var(--content-color);
  color: var(--root-color);
}
.workout-number {
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  margin: 30px;
  height: 155px;
  width: 155px;
}
.workout-details {
  display: flex;
  gap: 30px;
  margin: 30px;
}
.reverse-workout-details {
  flex-direction: row-reverse;
  text-align: right;
}
.workout-details span {
  margin: 10px;
  background-color: var(--primary-color);
  color: var(--root-color);
  border-radius: 7px;
  padding: 2px 10px;
}
.workout-content h2 {
  color: transparent;
  -webkit-text-stroke: 1px var(--primary-color);
  font-size: 2rem;
}
.workout-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
