* {
  margin: 0px;
  padding: 0px;
}
:root {
  --root-color: rgb(5, 5, 5);
  background-color: var(--root-color);
  --primary-color: green;
  --secondary-color: yellow;
  --content-color: white;
}
body {
  color: var(--content-color);
}
